{% extends "site_base.html" %}
{% load staticfiles %}
{% block title %} Container Details{% endblock %}
{% block bodycontent %}
<div class="row marl main_container">
    <div class="container">
        <h3 class="heading">Container Details</h3>
        <div class="row marl chart_row">
            <div class="col-md-6 chart_col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div id="chart_div" style="width: 100%; height: 100%;">
                            ID: <a href="{% url 'docker_box:container-details' container.container_id %}">{{ container.container_id }}</a>
                            <br/>
                            Host Name: {{ container.hostname }}
                            <br/>
                            IP Address: {{ container.ip.ip_addr }}
                            <br/>
                            Created: {{ container.created }}
                            <br/>
                            Cores: {{ container.cores }}
                            <br/>
                            Memory: {{ container.memory }}
                            <br/>
                            <br/>
                            <form method='post' action='' class='pf'>
                                Password: <input type='password' name='passphrase'></input>
                                &nbsp;&nbsp;<input class='remove-this-image' type='submit' value='Remove'>
                                <br/>
                                <p class='pe error text-danger'></pe>
                            </form>
                        </div>
                    </div>
                    <div class="panel-content">
                        <div id="curve_chart1" style="width:90%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$('.pf').submit(function(e) {
    e.preventDefault();
    $.post('', $(this).serialize(), function(data) {
        if (data['success'] == 'Deleted') {
            window.location = "{{ request.META.HTTP_REFERER }}"
        }
        else if (data['perror'] == true) {
            $('.pe').text('Wrong Password');
        }
        else {
            alert(data['ERROR'])
            window.location = "{{ request.META.HTTP_REFERER }}"
        }
    });
});
</script>
{% endblock %}
