{% extends "site_base.html" %}
{% load paginate %}
{% load sizes %}
{% block title %} SSH Access {% endblock %}
{% block bodycontent %}
    <!-- main_container starts here -->
    <div class="row marl main_container">
        <div class="container">
            <h3 class="heading">SSH Access</h3>
            <div class="table_row">
                <div class="form_row row marl">
                    <div class="panel panel-default">
                        <div class="panel-content">
                            <form class='commit_form' method="POST" action=".">
                                <div class="table_row">                                
                                    <table class="table table-striped table-condensed ip-list">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                              <label>SSH Users</label>
                                              <select class="ip_class form-control" multiple name='ssh_users'>
                                                {% for user in users %}
                                                <option value="{{ user.email }}" {% ifequal request.user user %}selected=selected{% endifequal %}>{{ user.email }}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                        </td>
                                    
                                    </tr>

                                    </table>
                                    </div>

                                </div>
                                <div class="text-center"><p class='api_error'></p></div>
                                <div class="text-center">
                                    <button type="submit" class="commit_btn btn btn-info">Assign</button>
                                    <button type="submit" class="btn btn-danger cancel">Cancel</button>
                                </div>
                                <br clear="all">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $('.commit_form').submit(function (e) {
            $('.loader').show()
            $('.commit_btn').text('commiting..');
            $('.commit_btn').prop('disabled', true);
            e.preventDefault();
            $.post('', $('.commit_form').serialize(), function (data) {
                if (data['error'] == false) {                                        
                    $('.loader').hide()
                    window.location.href = "{% url 'docker_box:container-list' %}";
                }
            });
        });
        $('.check').on('click', function (e) {
            $('.check').not(this).prop('checked', false);
        });
    </script>
{% endblock %}
  
